.header
	.header-nav
		.header-logo-main Menu

		nav.header-site-nav
			li: a(href="#") Link 1
			li: a(href="#") Link 2
			li: a(href="#") Link 3
			li: a(href="#") Link 4

		//- form.header-site-search
		//- 	input(type="text" placeholder="Search")
		//- 	//- button d

	.header-hero
		h1.header-hero-title Miami Dolphins
		p.header-hero-blurb an unnofficial blog of the <span class="one"><strong>Miami</span><span class=two><strong> Dolphins</strong></span> <br/> by the fans for the fans

	i.fa.fa-chevron-down