<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	title Miami Dolphins
	<link href="https://fonts.googleapis.com/css?family=Oxygen|Roboto+Slab" rel="stylesheet">
	link(rel="stylesheet", href="css/main.css")
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css") 
body
	include includes/header
	
	include includes/history
	
	section.highlights
		.text-box-alt
			.wrapped
				h4 Highlights
				h5 9/11/16
				p vs Seahawks (10-12) L
				
				.grid
					- var i = 0;
					while (i++ < 8)
						.item #{i}
				


				<iframe></iframe>
					
				.upcoming
					h5 9/18/16
					h4 vs Patriots (1-0)
					//- img(src="../img/Sept-11/game-one.jpg", alt="")
					//- img(src="../img/Sept-11/game-two.jpg", alt="")
					//- img(src="../img/Sept-11/game-three.jpg", alt="")


	//- <iframe width="560" height="315" src="https://www.youtube.com/embed/a1e8uLEstpM" frameborder="0" allowfullscreen></iframe>
		

	div(class="placeholder",style="height:2000px")

	<script src="http://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
	<script src="http://masonry.desandro.com/masonry.pkgd.js"></script>
	script(src="../js/grid.js")
