<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	title Miami Dolphins
	<link href="https://fonts.googleapis.com/css?family=Oxygen|Roboto+Slab" rel="stylesheet">
	link(rel="stylesheet", href="css/main.css")
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css") 
body
	include includes/header
	
	include includes/history
	
	include includes/schedule
	
	section.roster
		.wrapped
			.proPics
				ulp
				hr.short-hr
				.photo-reel
					img(src="//placehold.it/125x125", alt="")
					img(src="//placehold.it/125x125", alt="")
					img(src="//placehold.it/125x125", alt="")
					img(src="//placehold.it/125x125", alt="")
					img(src="//placehold.it/125x125", alt="")
					img(src="//placehold.it/125x125", alt="")
					img(src="//placehold.it/125x125", alt="")
				a(href="") View more
			h3 2016 Roster
			p This is the roster of the team.
		
	section.news
		.wrapped 
			h3 League News
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore enim doloribus doloremque excepturi qui, omnis et iure, eveniet fugit amet?
			a(href="") Read More
		
	section.standings
		.wrapped
			.division 
				li.pats New England Patriots  (1-0)
				li.us Miami Dolphons (0-1)
				li.jets New York Jets (0-1)
				li.bills Buffalo Bills (0-1)
			.league 
	
	footer(style="background:pink")
		p You have reached the footer congradulations.
		h5 2016 &copy;

	div(class="placeholder",style="height:2000px")

	<script src="http://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
	<script src="http://masonry.desandro.com/masonry.pkgd.js"></script>
	script(src="../js/grid.js")
